*
	{
		box-sizing: border-box;
	}
	div
	{
		float: left;
	}
	h1
	{
		font-size: 50px;
		font-family: Notable;
	}
	h2
	{
		font-size: 25px;
		color: black;
		font-family: Federant;
	}
	
	h3
	{
		font-size: 25px;
		font-family: Federant;
		color: black;
	}
	.title
	{
		float: absolute;
		width: 500px;
		height: 765px;
		font-family: ;
		margin: 100px 0px 0px 40px;
		color: black;
		background-color: white;
		position: fixed;
		padding-left: -20px;
	}			
	.bodyFrame
	{
		width: 750px;
		height: 500px;
		font-family: ;
		font-size: 18px;
		margin: 0px 0px 0px 600px;
		padding-left: -60px;
		padding-left: 150px;
		line-height: 1.2;
		background-color: white;
	}
	body
	{
		background-color: white;
	}
	p
	{
		padding-top: 5px;
	}
	.guitar
	{
		height: 700px;
		width: 790px;
		background-color: FireBrick;
		color: white;
		text-align: center;
		font-size: 75px;
		font-family: Monoton;
		padding-top: 50px;
	}
	.guitarSlide
	{
		height: 300px;
		width: 500px;
		border: 5px solid white;
		margin: 160px 0px 0px 160px;
	}
	.harmonyContrast
	{
		height: 100px;
		width: 670px;
		background-color: black;
		color: white;
		text-align: center;
	}
	.sevenKinds
	{
		height: 100px;
		width: 670px;
		background-color: khaki;
		color: white;
		text-align: center;
	}
	.sizeContrast
	{
		height: 100px;
		width: 670px;
		background-color: OrangeRed;
		color: white;
		text-align: center;
	}
	.contrastWeight
	{
		height: 100px;
		width: 670px;
		background-color: DarkSlateBlue;
		color: white;
		text-align: center;
	}
	.formContrast
	{
		height: 100px;
		width: 670px;
		background-color: DodgerBlue;
		color: white;
		text-align: center;
	}
	.structureContrast
	{
		height: 100px;
		width: 670px;
		background-color: SpringGreen;
		color: white;
		text-align: center;
	}
	.contrastTexture
	{
		height: 100px;
		width: 670px;
		background-color: SeaGreen;
		color: white;
		text-align: center;
	}
	.colorContrast
	{
		height: 100px;
		width: 670px;
		background-color: CadetBlue;
		color: white;
		text-align: center;
	}
	.contrastDirection
	{
		height: 100px;
		width: 670px;
		background-color: MidnightBlue;
		color: white;
		text-align: center;
	}
	.otherContrast
	{
		height: 100px;
		width: 670px;
		background-color: Gold;
		color: white;
		text-align: center;
	}