body
{
	height: 150px;
	width: 200px;
	background-color: darkorange; 
	background-image: radial-gradient(circle, orange, black);
}
.franken
{
	margin: 200px 0px 0px 600px;
	height: 400px;
	width: 400px;
	
}
.frankenHead
{
	height: 350px;
	width: 350px;
	background-color: YellowGreen;
}
.hair
{
	height: 75px;
	width: 350px;
	background-color: black;
	margin-top: -350px;
}
.leftSideBurn
{
	height: 150px;
	width: 35px;
	background-color: black;
}
.rightSideBurn
{
	height: 150px;
	width: 35px;
	background-color: black;
	margin-left: 315px;
	margin-top: -150px;
}
.leftBrow
{
	height: 30px;
	width: 110px;
	background-color: black;
	margin-top: -230px;
	margin-left: 50px;
	transform: rotate(190deg);
	
}
.rightBrow
{
	height: 30px;
	width: 110px;
	background-color: black;
	margin-top: -30px;
	margin-left: 190px;
	transform: rotate(350deg);
	
}
.eyes
{
	height: 110px;
	width: 250px;
	margin: -100px 0px 0px 50px;
}
.leftEye
{
	height: 110px;
	width: 110px;
	background-color: white;
	border-radius: 100%;
}
.rightEye
{
	height: 110px;
	width: 110px;
	background-color: white;
	border-radius: 100%;
	margin: -110px 0px 0px 140px;
}
.leftIris
{
	height: 70px;
	width: 70px;
	background-color: DarkOrange;
	border-radius: 100%;
	margin: -70px 0px 0px 20px;
	
}
.rightIris
{
	height: 70px;
	width: 70px;
	background-color: DarkOrange;
	border-radius: 100%;
	margin: -90px 0px 0px 160px;	
}
.mouth
{
	height: 50px;
	width: 500px;
	margin: 65px 0px 0px 65px;
	border: ;
}
.mouth1
{
	float: left;
	height: 25px;
	width: 25px;
	background-color: white;
	border: 1px solid gray;
	
}
.nose
{
	  width: 0; 
	  height: 0; 
	  border-left: 20px solid transparent;
	  border-right: 20px solid transparent;
	  border-top: 20px solid OliveDrab;
	  margin: 100px 0px 0px 150px;
}
.neck
{
	width: 200px;
	height: 50px;
	background-color: YellowGreen;
	margin: 80px 0px 0px 70px;
}
.collar
{
	width: 250px;
	height: 25px;
	background-color: black;
	margin: 0px 0px 0px 40px;
}
.shoulders
{
	width: 360px;
	height: 50px;
	background-color: black;
	margin: 0px 0px 0px -15px;
}
.shirt
{
	width: 80px;
	height: 75px;
	background-color: Violet;
	margin: -75px 0px 0px 130px;
}
.nail1
{
	
}
.leftEar
{
	width: 90px;
	height: 110px;
	background-color: YellowGreen;
	margin: -340px 0px 0px -90px;
}
.rightEar
{
	width: 100px;
	height: 120px;
	background-color: YellowGreen;
	margin: -120px 0px 0px 350px;
}
.leftInnerEar
{
	width: 80px;
	height: 70px;
	background-color: OliveDrab;
	margin: -90px 0px 0px -80px;
}
.rightInnerEar
{
	width: 80px;
	height: 80px;
	background-color: OliveDrab;
	margin: -100px 0px 0px 350px;
}