body 
{
    background-color: white;
    transition: all 3s ease
}
p 
{
    transition: all 5s ease;
    margin: 0;
}
.header 
{
    font-size: 100px;
	text-align: center;
	margin: 0 auto;
}
.pageOne
{
    width: 1500px;
    height: 700px;
    margin: ;
    background-color: rebeccapurple;
    transition: all .5s ease;
}
 
.bgColor 
{
    background-color: dodgerblue;
}