body
{
	background-color: RoyalBlue;
}
.titleBanner
{
	float: absolute;
	background-color: crimson;
	width: 1535px;
	height: 100px;
	margin-left: -10px;
	margin-top: -10px;
	position: fixed;
	
}
.logo
{
	float: left;
	width: 400px;
	height: 90px;
	margin-top: 10px;
	margin-left: 50px;
	
}
.sportsTech
{
	float: left;
	width: 400px;
	height: 100px;
	color: white;
	font-size: 44px;
	margin: 0px 0px 0px 120px;
	padding-top: 15px;
	font-family: Righteous;

}
.whiteFrame
{
	width: 1535px;
	height: 5500px;
	margin-left: -10px;
	background-color: white;
}
.textFrame
{
	float: absolute;
	border: 1px solid black;
	width: 900px;
	height: 5000px;
	margin: 0 auto;
	padding-top: 100px;
}
.heading
{
	font-family: Orbitron;
	line-height: 1.6;
	padding-right: 50px;
}
.authors
{
	font-size: 16px;
}
.pic1
{
	padding-top: 10px;
}
.pic2
{
	float: left;
	width:450px;
	height:300px;
	padding-left: 20px;
	margin-top: 30px;
}
.motionGaming
{
	float: left;
	margin-top: 200px;
	height: 100px;
}
h2
{
	font-family: Orbitron;
	
}
p
{
	font-family: Bai Jamjuree;
	line-height: 1.6;
}
.p1
{
	width: 750px;
}
.p2
{
	width: 750px;
}
.p3
{
	float: left;
	width: 400px;
	height: 250px;
	
}
