body
{
	background-color: RoyalBlue;
}
.titleBanner
{
	float: absolute;
	background-color: crimson;
	width: 1535px;
	height: 100px;
	margin-left: -10px;
	margin-top: -10px;
	position: fixed;
	
}
.logo
{
	float: left;
	width: 400px;
	height: 90px;
	margin-top: 10px;
	margin-left: 50px;
	
}
.sportsTech
{
	float: left;
	width: 400px;
	height: 100px;
	color: white;
	font-size: 44px;
	margin: 0px 0px 0px 120px;
	padding-top: 15px;
	font-family: Righteous;

}
.whiteFrame
{
	width: 1535px;
	height: 5500px;
	margin-left: -10px;
	background-color: white;
}
.textFrame
{
	float: absolute;
	/*border: 1px solid black;*/
	width: 900px;
	height: 5000px;
	margin: 0 auto;
	padding-top: 100px;
}
.heading
{
	font-family: Orbitron;
	line-height: 1.6;
	padding-right: 50px;
}
.authors
{
	font-size: 16px;
}
.abstract
{
	padding-top: 20px;
}
.keyWords
{
	padding-top: 20px;
}	
.introduction
{
	padding-top: 20px;
}
.motionGaming
{
	float: left;
	margin-top: 125px;
	height: 100px;
	width: 900px;
}
.pic1
{
	padding-top: 10px;
}
.pic2
{
	float: left;
	width:450px;
	height:300px;
	padding-left: 20px;
	margin-top: 110px;
}
.pic3
{
	float: left;
	width:900px;
	height:450px;
	margin-top: 20px;
}
.pic4
{
	float: left;
	width:400px;
	
	padding-left: 40px;
	margin-top: 60px;
}
.pic5
{
	float: left;
	width:400px;
	
	padding-left: 40px;
	margin-top: 80px;
}
.pic6
{
	float: left;
	width:400px;
	
	margin-left: -20px;
	margin-top: 10px;
}
.pic7
{
	float: left;
	width:400px;
	
	padding-left: 40px;
	margin-top: 10px;
}
h2
{
	font-family: Orbitron;
	
}
h5
{
	padding-top: 100px;
}
p
{
	font-family: Bai Jamjuree;
	line-height: 1.6;
	font-size: 18px;
}
.p1
{
	width: 850px;
}
.p2
{
	width: 850px;
}
.p3
{
	float: left;
	width: 400px;
	height: 250px;
}
.p4
{
	width: 850px;
}
.p5
{
	float: left;
	width: 400px;
	
	margin-top: 20px;
}
.p6
{
	
	width: 850px;
}
.p7
{
	padding-top: 30px;
	width: 850px;
}
