*
div
{
	float: left;
}
h1
{
	font-size: 70px;
	font-family: Poppins;
	font-weight: bold;
	margin: 35px 0px 0px 45px;
	width: 575px;
}
h2
{
	font-size: 25px;
	color: black;
	font-family: Poppins;
	margin: 0px 0px 0px 51px
}

.title
{
	float: left;
	width: 712px;
	height: 765px;
	font-family: ;
	margin: -10px 0px 0px -8px;
	color: black;
	background-color: white;
	position: fixed;
	padding-left: -20px;
}	

.bodyFrame
{
	width: 820px;
	height: 500px;
	margin: -10px 0px 0px 535px;
	padding-left: -60px;
	padding-left: 150px;
	line-height: 1.2;
	background-color: white;
}
.hamburger
{
	margin-top: 50px;
	/*border: 5px solid black;*/
	height: 25px;
`		width: 400px;
}
.about, .guitars, .drums, .drums, .pianos, .mics
{
	float: left;
	height: 25px;
	width: 80px;
	background-color: black;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: Poppins;
}

.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
{
	background-color: DimGray;
	cursor: pointer;
}
body
{
	background-color: white;
}
p
{
	padding-top: 5px;
}
.guitar
{
	height: 710px;
	width: 840px;
	background-color: FireBrick;
	color: white;
	text-align: center;
	font-size: 75px;
	font-family: Monoton;
	padding-top: 50px;
}
.guitarIcon
{
	height: 300px;
	width: 500px;
	/*border: 10px solid white;*/
	margin: 100px 0px 0px 160px;
	
}
.drum
{
	height: 710px;
	width: 840px;
	background-color: RoyalBlue;
	color: white;
	text-align: center;
	font-size: 75px;
	font-family: Monoton;
	padding-top: 50px;
}
.drumIcon
{
	height: 300px;
	width: 500px;
	/*border: 10px solid white;*/
	margin: 160px 0px 0px 200px;
}
.piano
{
	height: 710px;
	width: 840px;
	background-color: DarkSlateBlue;
	color: white;
	text-align: center;
	font-size: 75px;
	font-family: Monoton;
	padding-top: 50px;
}
.pianoIcon
{
	height: 300px;
	width: 500px;
	/*border: 10px solid white;*/
	margin: 160px 0px 0px 160px;
}
.mic
{
	height: 710px;
	width: 840px;
	background-color: Gold;
	color: white;
	text-align: center;
	font-size: 75px;
	font-family: Monoton;
	padding-top: 50px;
}
.micIcon
{
	height: 300px;
	width: 500px;
	/*border: 10px solid white;*/
	margin: 160px 0px 0px 160px;
}
.menu 
{
	display: inline-block;
	cursor: pointer;
	width: 0px;
	margin-left: 54px;
}

li
{
	display: inline;
}
ul
{
	display: none;
}

.bar1, .bar2, .bar3 
{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 3px 0;
	transition: 0.4s;
}

.change .bar1 
{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2
{
	opacity: 0;
}

.change .bar3 
{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
.container
{
	width: 100%;
	background-color: white;
}
	
@media only screen and (max-width: 1200px)
{

}

@media only screen and (max-width: 768px)
{

}

@media only screen and (max-width: 400px)
{
	div
	{
		float: left;
	}
	h1
	{
		font-size: 35px;
		font-family: Poppins;
		font-weight: bold;
		margin: 0px 0px 0px 0px;
		text-align: center;
		width: 400px;
	}
	h2
	{
		font-size: 15px;
		color: black;
		font-family: Poppins;
		text-align: center;
		margin: 0px 0px 0px 0px;
		width: 400px;
	}

	.title
	{
		float: left;
		width: 360px;
		height: 220px;
		font-family: ;
		margin: -10px 0px 0px -5px;
		color: black;
		padding-top: 10px;
		background-color: white;
	}	

	.bodyFrame
	{
		width: 360px;
		height: 500px;
		margin: 200px 0px 0px -5px;
		padding-left: 0px;
		padding-left: 0px;
		line-height: 1.2;
		background-color: white;
	}
	.hamburger
	{
		margin-top: 50px;
		/*border: 5px solid black;*/
		height: 25px;
	`	width: 360px;
	}
	.about, .guitars, .drums, .drums, .pianos, .mics
	{
		float: left;
		height: 25px;
		width: 60px;
		background-color: black;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-family: Poppins;
	}

	.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
	{
		background-color: DimGray;
		cursor: pointer;
	}
	body
	{
		background-color: white;
	}
	p
	{
		padding-top: 5px;
	}
	.guitar
	{
		height: 710px;
		width: 360px;
		background-color: FireBrick;
		color: white;
		text-align: left;
		font-size: 40px;
		font-family: Monoton;
		padding-top: 50px;
	}
	.guitarIcon
	{
		height: 50px;
		width: 25px;
		/*border: 10px solid white;*/
		margin: 100px 0px 0px 10px;
		
	}
	.drum
	{
		height: 710px;
		width: 360px;
		background-color: RoyalBlue;
		color: white;
		text-align: left;
		font-size: 40px;
		font-family: Monoton;
		padding-top: 50px;
	}
	.drumIcon
	{
		height: 300px;
		width: 25px;
		/*border: 10px solid white;*/
		margin: 160px 0px 0px 10px;
	}
	.piano
	{
		height: 710px;
		width: 360px;
		background-color: DarkSlateBlue;
		color: white;
		text-align: left;
		font-size: 40px;
		font-family: Monoton;
		padding-top: 50px;
	}
	.pianoIcon
	{
		height: 300px;
		width: 25px;
		/*border: 10px solid white;*/
		margin: 160px 0px 0px 10px;
	}
	.mic
	{
		height: 710px;
		width: 360px;
		background-color: Gold;
		color: white;
		text-align: left;
		font-size: 40px;
		font-family: Monoton;
		padding-top: 50px;
	}
	.micIcon
	{
		height: 300px;
		width: 25px;
		/*border: 10px solid white;*/
		margin: 160px 0px 0px 10px;
	}
	.menu 
	{
		display: inline-block;
		cursor: pointer;
		width: 0px;
		margin-left: 5px;
	}

	li
	{
		display: inline;
	}
	ul
	{
		display: none;
	}

	.bar1, .bar2, .bar3 
	{
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 3px 0;
		transition: 0.4s;
	}

	.change .bar1 
	{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2
	{
		opacity: 0;
	}

	.change .bar3 
	{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
	.container
	{
		width: 100%;
		background-color: white;
	}
}