.container div
{
	float: left;
}
h1
{
	font-size: 70px;
	font-family: Poppins;
	font-weight: bold;
	margin: 35px 0px 0px 45px;
	width: 575px;
}
h2
{
	font-size: 25px;
	color: black;
	font-family: Poppins;
	margin: 0px 0px 0px 51px
}
h3
{
	font-size: 25px;
	color: black;
	text-align: center;
	font-family: Poppins;
	margin: 0px 0px 0px 25px
}

.about, .guitars, .drums, .drums, .pianos, .mics
{
	float: left;
	height: 25px;
	width: 80px;
	background-color: black;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: Poppins;
}

.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
{
	background-color: DimGray;
	cursor: pointer;
}
body
{
	background-color: white;
}
p
{
	font-family: Poppins;
	font-size: 13px; 
	color: black;
	
}

.menu 
{
	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin-left: 350px;
	margin-top: 20px;
}
.dropBar
{
	margin-top: -50px;
	margin-left: -75px;
	height: 25px;
`	width: 400px;
}
.closed
{
	display: none;
}
li
{
	display: inline;
}
ul
{
	display: none;
}

.bar1, .bar2, .bar3 
{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 3px 0;
	transition: 0.4s;
}

.change .bar1 
{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2
{
	opacity: 0;
}

.change .bar3 
{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
.container
{
	width: 100%;
	background-color: ;
}
.worldMusic
{
	width: 506px;
	height: 100px;
	background-color: Gold;
	color: white;
	text-align: center;
	font-size: 45px;
	font-family: Poppins;
	/*padding-top: 50px;*/
}
.yellowDiv
{
	width: 506px;
	height: 100px;
	background-color: Gold;
	/*padding-top: 50px;*/
}

.micGallery
{
	width: 100vw;
    height: ;
    background-color: ;
    margin-top: 100px;
    margin-left: 0px;
    color: Gold;
    text-align: center;
    font-size: 45px;
    font-family: Monoton;
}
.yellowBanner
{
	float: left;
	height: 100px;
	width: 100%;
	background-color: Gold;
	
	margin: -10px 0px 0px -5px;
}
.mainFrame
{
	float: left;
	height: 100%;
	width: 100%;
	background-color: white;
	margin: 90px 0px 0px -5px;
	overflow: auto;
}
.imageFrame
{
	float: left;
	width: 500px;
	height: 500px;
	margin: 0px 0px 0px 35px;
	/*background-color: white;*/
	background: url("");
	background-size: 100%;
	background-repeat: no-repeat;
}
/*.arrow
{
	float: left;
	width: 100px;
	height: 100px;
	margin: -1300px 0px 0px 700px;
	cursor: pointer;
	border: 2px solid black;
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-kjP45mQGaoOdy_QpaEsMjZFxkZbY82_cyxIS9hd-geiVHeBr");
	background-size: 100%;
	background-repeat: no-repeat;
}*/
.text
{
	font-family: Poppins;
}

.image
{
	width: 50%;
	height: 500px;
	float: left;
}
.image img
{
	width: 100%;
	height: 100%;
}
.text
{
	width: 50%;
	height: 500px;
	float: left;
}
.mySlider
{
	
	position: absolute;
	top: 50px;
	width: 80%;
}
.slick-next
{
	background-color: Gold;
	border: 2px solid black;
	font-family: Poppins;
	width: 75px;
	cursor: pointer;

}
.slick-prev
{
	background-color: Gold;
	border: 2px solid black;
	font-family: Poppins;
	width: 75px;
	cursor: pointer;
}
.mySlide
{
	width: 50vw;
}

@media only screen and (max-width: 800px)
{
		.container div
	{
		float: left;
	}
	h3
	{
		font-size: 25px;
		color: black;
		text-align: center;
		font-family: Poppins;
		margin: 0px 0px 0px 25px
	}

	.about, .guitars, .drums, .drums, .pianos, .mics
	{
		float: left;
		height: 25px;
		width: 80px;
		background-color: black;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-family: Poppins;
	}

	.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
	{
		background-color: DimGray;
		cursor: pointer;
	}
	body
	{
		background-color: white;
	}
	p
	{
		font-family: Poppins;
		font-size: 13px; 
		color: black;
	}

	.menu 
	{
		display: inline-block;
		cursor: pointer;
		width: 50px;
		height: 50px;
		margin-left: 300px;
		margin-top: -80px;
	}
	.dropBar
	{
		margin-top: -30px;
		margin-left: -75px;
		height: 25px;
	`	width: 400px;
	}
	.closed
	{
		display: none;
	}
	li
	{
		display: inline;
	}
	ul
	{
		display: none;
	}

	.bar1, .bar2, .bar3 
	{
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 3px 0;
		transition: 0.4s;
	}

	.change .bar1 
	{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2
	{
		opacity: 0;
	}

	.change .bar3 
	{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
	.container
	{
		width: 100%;
		background-color: ;
	}
	.worldMusic
	{
		width: 100%;
		height: 25px;
		background-color: Gold;
		color: white;
		text-align: center;
		font-size: 35px;
		font-family: Poppins;
		/*padding-top: 50px;*/
	}
	.yellowDiv
	{
		width: 506px;
		height: 100px;
		background-color: Gold;
		/*padding-top: 50px;*/
	}

	.micGallery
	{
		width: 100vw;
		height: ;
		background-color: ;
		margin-top: 100px;
		margin-left: 0px;
		color: Gold;
		text-align: center;
		font-size: 45px;
		font-family: Monoton;
	}
	.yellowBanner
	{
		float: left;
		height: 100px;
		width: 100%;
		background-color: Gold;
		margin: -10px 0px 0px -5px;
	}
	.mainFrame
	{
		float: left;
		height: 100%;
		width: 100%;
		background-color: white;
		margin: 90px 0px 0px -5px;
		overflow: auto;
	}
	.imageFrame
	{
		float: left;
		width: 500px;
		height: 500px;
		margin: 0px 0px 0px 35px;
		/*background-color: white;*/
		background: url("");
		background-size: 100%;
		background-repeat: no-repeat;
	}
	/*.arrow
	{
		float: left;
		width: 100px;
		height: 100px;
		margin: -1300px 0px 0px 700px;
		cursor: pointer;
		border: 2px solid black;
		background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-kjP45mQGaoOdy_QpaEsMjZFxkZbY82_cyxIS9hd-geiVHeBr");
		background-size: 100%;
		background-repeat: no-repeat;
	}*/
	.text
	{
		font-family: Poppins;
	}

	.image
	{
		width: 50%;
		height: 500px;
		float: left;
	}
	.image img
	{
		width: 100vw;
		height: 100%;
	}
	.text
	{
		width: 90%;
		height: 500px;
		float: left;
		margin-left: 20px;
	}
	.mySlider
	{
		
		position: absolute;
		top: 100px;
		width: 100%;
	}
	.slick-next
	{
		background-color: Gold;
		border: 2px solid black;
		font-family: Poppins;
		width: 75px;
		cursor: pointer;

	}
	.slick-prev
	{
		background-color: Gold;
		border: 2px solid black;
		font-family: Poppins;
		width: 75px;
		cursor: pointer;
	}
	.mySlide
	{
		width: 50vw;
	}
}

@media only screen and (max-width: 1000px)
{
		.container div
	{
		float: left;
	}
	h1
	{
		font-size: 70px;
		font-family: Poppins;
		font-weight: bold;
		margin: 35px 0px 0px 45px;
		width: 575px;
	}
	h2
	{
		font-size: 25px;
		color: black;
		font-family: Poppins;
		margin: 0px 0px 0px 51px
	}
	h3
	{
		font-size: 25px;
		color: black;
		text-align: center;
		font-family: Poppins;
		margin: 0px 0px 0px 25px
	}

	.title
	{
		float: left;
		width: 100%;
		height: 765px;
		font-family: ;
		margin: -10px 0px 0px -8px;
		color: black;
		background-color: white;
		
		padding-left: -20px;
	}	

	.bodyFrame
	{
		width: 820px;
		height: 500px;
		margin: -10px 0px 0px 535px;
		padding-left: -60px;
		padding-left: 150px;
		line-height: 1.2;
		background-color: white;
	}

	.about, .guitars, .drums, .drums, .pianos, .mics
	{
		float: left;
		height: 25px;
		width: 80px;
		background-color: black;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-family: Poppins;
	}

	.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
	{
		background-color: DimGray;
		cursor: pointer;
	}
	body
	{
		background-color: white;
	}
	p
	{
		font-family: Poppins;
		font-size: 13px; 
		color: black;
		
	}

	.menu 
	{
		display: inline-block;
		cursor: pointer;
		width: 50px;
		height: 50px;
		margin-left: 700px;
		margin-top: -100px;
	}
	.dropBar
	{
		margin-top: -50px;
		margin-left: -75px;
		height: 25px;
	`	width: 400px;
	}
	.closed
	{
		display: none;
	}
	li
	{
		display: inline;
	}
	ul
	{
		display: none;
	}

	.bar1, .bar2, .bar3 
	{
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 3px 0;
		transition: 0.4s;
	}

	.change .bar1 
	{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2
	{
		opacity: 0;
	}

	.change .bar3 
	{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
	.container
	{
		width: 100%;
		background-color: ;
	}
	.worldMusic
	{
		width: 100%;
		height: 100px;
		background-color: Gold;
		color: white;
		text-align: center;
		font-size: 45px;
		font-family: Poppins;
		/*padding-top: 50px;*/
	}
	.redDiv
	{
		width: 100%;
		height: 100px;
		background-color: Gold;
		/*padding-top: 50px;*/
	}

	.guitarGallery
	{
		width: 100vw;
		height: ;
		background-color: ;
		margin-top: 100px;
		margin-left: 0px;
		color: Gold;
		text-align: center;
		font-size: 45px;
		font-family: Monoton;
	}
	.redBanner
	{
		float: left;
		height: 100px;
		width: 100%;
		background-color: Gold;
		
		margin: -10px 0px 0px -5px;
	}
	.mainFrame
	{
		float: left;
		height: 100%;
		width: 100%;
		background-color: white;
		margin: 90px 0px 0px -5px;
		overflow: auto;
	}
	.imageFrame
	{
		float: left;
		width: 500px;
		height: 500px;
		margin: 0px 0px 0px 35px;
		/*background-color: white;*/
		background: url("");
		background-size: 100%;
		background-repeat: no-repeat;
	}
	/*.arrow
	{
		float: left;
		width: 100px;
		height: 100px;
		margin: -1300px 0px 0px 700px;
		cursor: pointer;
		border: 2px solid black;
		background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-kjP45mQGaoOdy_QpaEsMjZFxkZbY82_cyxIS9hd-geiVHeBr");
		background-size: 100%;
		background-repeat: no-repeat;
	}*/
	.text
	{
		font-family: Poppins;
	}

	.image
	{
		width: 50%;
		height: 500px;
		float: left;
	}
	.image img
	{
		width: 100%;
		height: 100%;
	}
	.text
	{
		width: 50%;
		height: 500px;
		float: left;
	}
	.mySlider
	{
		
		position: absolute;
		top: 50px;
		width: 80%;
	}
	.slick-next
	{
		background-color: Gold;
		border: 2px solid black;
		font-family: Poppins;
		width: 75px;
		cursor: pointer;

	}
	.slick-prev
	{
		background-color: Gold;
		border: 2px solid black;
		font-family: Poppins;
		width: 75px;
		cursor: pointer;
	}
	.mySlide
	{
		width: 50vw;
	}
}


@media only screen and (max-width: 700px)
{	
		.container div
	{
		float: left;
	}
	h3
	{
		font-size: 25px;
		color: black;
		text-align: center;
		font-family: Poppins;
		margin: 0px 0px 0px 25px
	}

	.about, .guitars, .drums, .drums, .pianos, .mics
	{
		float: left;
		height: 25px;
		width: 60px;
		background-color: black;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-family: Poppins;
	}

	.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
	{
		background-color: DimGray;
		cursor: pointer;
	}
	body
	{
		background-color: white;
	}
	p
	{
		font-family: Poppins;
		font-size: 13px; 
		color: black;
	}

	.menu 
	{
		display: inline-block;
		cursor: pointer;
		width: 50px;
		height: 50px;
		margin-left: 525px;
		margin-top: -40px;
		position: relative;
	}
	.dropBar
	{
		margin-top: -60px;
		margin-left: 111px;
		height: 25px;
	`	width: 300px;
	}
	.closed
	{
		display: none;
	}
	li
	{
		display: inline;
	}
	ul
	{
		display: none;
	}

	.bar1, .bar2, .bar3 
	{
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 3px 0;
		transition: 0.4s;
	}

	.change .bar1 
	{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2
	{
		opacity: 0;
	}

	.change .bar3 
	{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
	.container
	{
		width: 100%;
	}
	.worldMusic
	{
		width: 100%;
		height: 25px;
		background-color: Gold;
		color: white;
		text-align: center;
		font-size: 35px;
		font-family: Poppins;
	}
	.yellowDiv
	{
		width: 100%;
		margin-top: 25px;
		background-color: Gold;
	}

	.micGallery
	{
		width: 100vw;
		height: ;
		background-color: ;
		margin-top: 100px;
		margin-left: 0px;
		color: Gold;
		text-align: center;
		font-size: 45px;
		font-family: Monoton;
	}
	.yellowBanner
	{
		float: left;
		height: 100px;
		width: 100%;
		background-color: Gold;
		margin: 0px 0px 0px 0px;
	}
	.image
	{
		width: 75%;
		height: 500px;
		float: left;
	}
	.image img
	{
		width: 100%;
		height: 100%;
	}
	.text
	{
		width: 95%;
		height: 500px;
		float: left;
		margin-left: 20px;
		font-family: Poppins;
	}
	.mySlider
	{
		
		position: absolute;
		top: 135px;
		width: 90%;
	}
	.slick-next
	{
		background-color: Gold;
		border: 2px solid black;
		font-family: Poppins;
		width: 75px;
		cursor: pointer;

	}
	.slick-prev
	{
		background-color: Gold;
		border: 2px solid black;
		font-family: Poppins;
		width: 75px;
		cursor: pointer;
	}
	.mySlide
	{
		width: 50vw;
	}
}

@media only screen and (max-width: 400px)
{	
		.container div
	{
		float: left;
	}
	h3
	{
		font-size: 25px;
		color: black;
		text-align: center;
		font-family: Poppins;
		margin: 0px 0px 0px 25px
	}

	.about, .guitars, .drums, .drums, .pianos, .mics
	{
		float: left;
		height: 25px;
		width: 60px;
		background-color: black;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-family: Poppins;
	}

	.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
	{
		background-color: DimGray;
		cursor: pointer;
	}
	body
	{
		background-color: white;
	}
	p
	{
		font-family: Poppins;
		font-size: 13px; 
		color: black;
	}

	.menu 
	{
		display: inline-block;
		cursor: pointer;
		width: 50px;
		height: 50px;
		margin-left: 300px;
		margin-top: -40px;
		position: relative;
	}
	.dropBar
	{
		margin-top: -60px;
		margin-left: 111px;
		height: 25px;
	`	width: 300px;
	}
	.closed
	{
		display: none;
	}
	li
	{
		display: inline;
	}
	ul
	{
		display: none;
	}

	.bar1, .bar2, .bar3 
	{
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 3px 0;
		transition: 0.4s;
	}

	.change .bar1 
	{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2
	{
		opacity: 0;
	}

	.change .bar3 
	{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
	.container
	{
		width: 100%;
	}
	.worldMusic
	{
		width: 100%;
		height: 25px;
		background-color: Gold;
		color: white;
		text-align: center;
		font-size: 35px;
		font-family: Poppins;
	}
	.yellowDiv
	{
		width: 100%;
		margin-top: 25px;
		background-color: Gold;
	}

	.micGallery
	{
		width: 100vw;
		height: ;
		background-color: ;
		margin-top: 100px;
		margin-left: 0px;
		color: Gold;
		text-align: center;
		font-size: 45px;
		font-family: Monoton;
	}
	.yellowBanner
	{
		float: left;
		height: 100px;
		width: 100%;
		background-color: Gold;
		margin: 0px 0px 0px 0px;
	}
	.image
	{
		width: 75%;
		height: 500px;
		float: left;
	}
	.image img
	{
		width: 100%;
		height: 100%;
	}
	.text
	{
		width: 95%;
		height: 550px;
		float: left;
		margin-left: 20px;
		font-family: Poppins;
	}
	.mySlider
	{
		
		position: absolute;
		top: 135px;
		width: 90%;
	}
	.slick-next
	{
		background-color: Gold;
		border: 2px solid black;
		font-family: Poppins;
		width: 75px;
		cursor: pointer;

	}
	.slick-prev
	{
		background-color: Gold;
		border: 2px solid black;
		font-family: Poppins;
		width: 75px;
		cursor: pointer;
	}
	.mySlide
	{
		width: 50vw;
	}
}