div
{
	float: left;
}
h1
{
	font-size: 70px;
	font-family: Poppins;
	font-weight: bold;
	margin: 35px 0px 0px 45px;
	width: 575px;
}
h2
{
	font-size: 25px;
	color: black;
	font-family: Poppins;
	margin: 0px 0px 0px 51px
}
h3
{
	font-size: 25px;
	color: black;
	text-align: center;
	font-family: Poppins;
	margin: 0px 0px 0px 25px
}

.title
{
	float: left;
	width: 712px;
	height: 765px;
	font-family: ;
	margin: -10px 0px 0px -8px;
	color: black;
	background-color: white;
	
	padding-left: -20px;
}	

.bodyFrame
{
	width: 820px;
	height: 500px;
	margin: -10px 0px 0px 535px;
	padding-left: -60px;
	padding-left: 150px;
	line-height: 1.2;
	background-color: white;
}
.hamburger
{
	margin-top: 50px;
	/*border: 5px solid black;*/
	height: 25px;
`		width: 400px;
}
.about, .guitars, .drums, .drums, .pianos, .mics
{
	float: left;
	height: 25px;
	width: 80px;
	background-color: white;
	margin: 0 auto;
	text-align: center;
	color: black;
	font-family: Poppins;
}

.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
{
	background-color: DimGray;
	cursor: pointer;
}
body
{
	background-color: white;
}
p
{
	font-family: Poppins;
	font-size: 13px; 
	color: black;
}

.menu 
{
	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin-left: 350px;
	margin-top: 20px;
}
.closed
{
	display: none;
}
li
{
	display: inline;
}
ul
{
	display: none;
}
.bar1, .bar2, .bar3 
{
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 3px 0;
	transition: 0.4s;
}
.change .bar1 
{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2
{
	opacity: 0;
}
.change .bar3 
{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
.container
{
	width: 100%;
	background-color: white;
}
.worldMusic
{
	width: 506px;
	height: 100px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 45px;
	font-family: Poppins;
	/*padding-top: 50px;*/
}
.blackDiv
{
	width: 506px;
	height: 100px;
	background-color: black;
	/*padding-top: 50px;*/
}
.homeBar
{
	margin-top: -50px;
	margin-left: -75px;
	height: 25px;
`	width: 400px;
}
.aboutUs
{
	width: 100vw;
    height: 100px;
    background-color: white;
    margin-top: 90px;
    margin-left: -5px;
    color: black;
    text-align: center;
    font-size: 45px;
    font-family: Monoton;
}
.blackBanner
{
	float: left;
	height: 100px;
	width: 100%;
	background-color: black;
	
	margin: -10px 0px 0px -5px;
}
.instrument
{
	float: left;
	width: 600px;
	height: 600px;
	margin: 0px 0px 0px 450px;
	background: url("https://userscontent2.emaze.com/images/314317c9-7bdf-4989-b6d8-d7a4db9bc9f0/47cce9e080d3caf1a4b9c26881884b8b.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.description
{
	float: left;
	width: 600px;
    height: 120px;
    margin: 420px 0px 0px -600px;
	font-family: Poppins;
	font-size: 16px; 
	color: black;

}
@media only screen and (max-width: 700px)
{
	div
	{
		float: left;
	}
	h1
	{
		font-size: 40px;
		font-family: Poppins;
		font-weight: bold;
		margin: 35px 0px 0px 45px;
		width: 575px;
	}
	h2
	{
		font-size: 25px;
		color: black;
		font-family: Poppins;
		margin: 0px 0px 0px 51px
	}
	h3
	{
		font-size: 25px;
		color: black;
		text-align: center;
		font-family: Poppins;
		margin: 0px 0px 0px 25px
	}

	.title
	{
		float: left;
		width: 712px;
		height: 765px;
		font-family: ;
		margin: -10px 0px 0px -8px;
		color: black;
		background-color: white;
		padding-left: -20px;
	}	

	.bodyFrame
	{
		width: 820px;
		height: 500px;
		margin: -10px 0px 0px 535px;
		padding-left: -60px;
		padding-left: 150px;
		line-height: 1.2;
		background-color: white;
	}
	.about, .guitars, .drums, .drums, .pianos, .mics
	{
		float: left;
		height: 25px;
		width: 60px;
		background-color: white;
		margin: 0 auto;
		text-align: center;
		color: black;
		font-family: Poppins;
	}

	.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
	{
		background-color: DimGray;
		cursor: pointer;
	}
	body
	{
		background-color: white;
	}
	p
	{
		font-family: Poppins;
		font-size: 13px; 
		color: black;
	}

	.menu 
	{
		display: inline-block;
		cursor: pointer;
		width: 25px;
		height: 25px;
		margin-left: 54px;
		margin-top: -90px;
	}
	.blackDiv
	{
	width: 506px;
	height: 100px;
	background-color: black;
	/*padding-top: 50px;*/
	}
	.blackBanner
	{
	float: left;
	height: 100px;
	width: 100%;
	background-color: black;
	
	margin: -10px 0px 0px -5px;
	}
	li
	{
		display: inline;
	}
	ul
	{
		display: none;
	}
	.container
	{
		width: 100vw;
		background-color: white;
	}
	.worldMusic
	{
		width: 360px;
		height: 100px;
		background-color: black;
		color: white;
		text-align: center;
		font-size: 45px;
		font-family: Poppins;
	}
	.homeBar
	{
		margin-top: -50px;
		margin-left: 25px;
		height: 25px;
	`	width: 400px;
	}
	.bar1, .bar2, .bar3 
	{
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 3px 0;
		transition: 0.4s;
	}

	.change .bar1 
	{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2
	{
		opacity: 0;
	}

	.change .bar3 
	{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
	.aboutUs
	{
		width: 350px;
		height: 100px;
		margin-top: 200px;
		background-color: white;
		color: black;
		text-align: center;
		font-size: 40px;
		font-family: Monoton;
	}
	.blackBanner
	{
		float: left;
		height: 100px;
		width: 600px;
		background-color: black;
		margin: 0px 0px 0px -10px;
	}
	.instrument
	{
		float: left;
		width: 100vw;
		height: 600px;
		margin: 10px 0px 0px -10px;
		background: url("https://userscontent2.emaze.com/images/314317c9-7bdf-4989-b6d8-d7a4db9bc9f0/47cce9e080d3caf1a4b9c26881884b8b.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.description
	{
		float: left;
		width: 500px;
		height: 100px;
		margin: -20px 0px 0px 10px;
		font-family: Poppins;
		font-size: 20px; 
		color: black;

	}
}

@media only screen and (max-width: 500px)
{	
	div
	{
		float: left;
	}
	h1
	{
		font-size: 40px;
		font-family: Poppins;
		font-weight: bold;
		margin: 35px 0px 0px 45px;
		width: 575px;
	}
	h2
	{
		font-size: 25px;
		color: black;
		font-family: Poppins;
		margin: 0px 0px 0px 51px
	}
	h3
	{
		font-size: 25px;
		color: black;
		text-align: center;
		font-family: Poppins;
		margin: 0px 0px 0px 25px
	}

	.title
	{
		float: left;
		width: 712px;
		height: 765px;
		font-family: ;
		margin: -10px 0px 0px -8px;
		color: black;
		background-color: white;
		padding-left: -20px;
	}	

	.bodyFrame
	{
		width: 820px;
		height: 500px;
		margin: -10px 0px 0px 535px;
		padding-left: -60px;
		padding-left: 150px;
		line-height: 1.2;
		background-color: white;
	}
	.about, .guitars, .drums, .drums, .pianos, .mics
	{
		float: left;
		height: 25px;
		width: 60px;
		background-color: white;
		margin: 0 auto;
		text-align: center;
		color: black;
		font-family: Poppins;
	}

	.about:hover, .guitars:hover, .drums:hover, .pianos:hover, .mics:hover
	{
		background-color: DimGray;
		cursor: pointer;
	}
	body
	{
		background-color: white;
	}
	p
	{
		font-family: Poppins;
		font-size: 13px; 
		color: black;
	}

	.menu 
	{
		display: inline-block;
		cursor: pointer;
		width: 25px;
		height: 25px;
		margin-left: 54px;
		margin-top: -110px;
	}

	li
	{
		display: inline;
	}
	ul
	{
		display: none;
	}
	.container
	{
		width: 100vw;
		background-color: white;
	}
	.worldMusic
	{
		width: 360px;
		height: 100px;
		background-color: black;
		color: white;
		text-align: center;
		font-size: 45px;
		font-family: Poppins;
	}
	.homeBar
	{
		margin-top: -20px;
		margin-left: 25px;
		height: 25px;
	`	width: 400px;
	}
	.bar1, .bar2, .bar3 
	{
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 3px 0;
		transition: 0.4s;
	}

	.change .bar1 
	{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2
	{
		opacity: 0;
	}

	.change .bar3 
	{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
	.aboutUs
	{
		width: 350px;
		height: 100px;
		margin-top: 200px;
		background-color: white;
		color: black;
		text-align: center;
		font-size: 40px;
		font-family: Monoton;
	}
	.blackBanner
	{
		float: left;
		height: 100px;
		width: 360px;
		background-color: black;
		margin: 0px 0px 0px -10px;
	}
	.instrument
	{
		float: left;
		width: 360px;
		height: 360px;
		margin: 10px 0px 0px -10px;
		background: url("https://userscontent2.emaze.com/images/314317c9-7bdf-4989-b6d8-d7a4db9bc9f0/47cce9e080d3caf1a4b9c26881884b8b.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.description
	{
		float: left;
		width: 340px;
		height: 100px;
		margin: -40px 0px 0px 10px;
		font-family: Poppins;
		font-size: 17px; 
		color: black;

	}
}